body {
  margin: 0;
  font-family: "Muli", sans-serif;
  background-color: #edeada !important;
}

#about-us-container,
#menu-container {
  margin-top: 250px;
  margin-bottom: 250px;
}

#about-us-container {
  align-items: center;
}

html,
#about-us-container,
#menu-container,
#contact-container {
  background-color: #edeada;
}

/* NavBar */

.navigation {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 16px;
  display: flex;

  color: black;
  width: 100%;
  z-index: 1001;
  top: 0;
  /* box-shadow: 0 8px 6px -6px #646464; */
  position: fixed;
}

.navigation a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 10px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 2px;
  line-height: 1.5;
}

.navigation a:hover {
  text-decoration: underline;
  color: white;
}

.navigation.scrolled {
  background-color: #b94335 !important;
  transition: background-color 200ms linear;
}

/* .navbar.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
} */

/* Home Section */

.top-left-first {
  color: white;
  position: absolute;
  top: 145px;
  left: 16px;
  font-size: 150px;
  font-family: "Shadows Into Light", cursive;
}

.bottom-left {
  color: black;
  position: absolute;
  left: 16px;
  font-size: 30px;
  font-family: "Lato";
}

/* About Section */

#about-us-container {
  display: flex;
}

.about-us-header {
  width: 50%;
  width: 50%;
  text-align: center;
  align-content: baseline;
  letter-spacing: 2px;
  font-size: 50px;
}

.right-container {
  width: 50%;
}

/* Menu Section */

#menu-container {
  font-family: "Shadows Into Light", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.menu-header {
  text-align: center;
  font-size: 10vh;
}

.menu-submenu {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.left-menu {
  padding: 5px;
  margin-right: 100px;
  width: 50%;
}

.right-menu {
  padding: 5px;
  width: 50%;
}

/* Appetizers */

.appetizer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-app {
  margin-right: 80px;
}

/* Tacos */

.tacos-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tacos-header {
  margin-top: 10px;
}

.left-tacos {
  margin-right: 80px;
}

/* Entrees */

.entrees-container {
  display: flex;
  flex-direction: row;
}

.left-entrees {
  margin-right: 80px;
}

.right-entrees {
  margin-right: 30px;
}

.entrees-header {
  font-size: 3vh;
  text-decoration: underline;
}

.entree-food {
  text-decoration: underline;
}

/* Beverages */

.beverages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-beverage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.na-header,
.alc-header,
.alc,
.wine-header {
  text-decoration: underline;
}

.wine {
  text-align: left;
}

.left-na {
  margin-right: 80px;
}

/* Desserts */

.desserts-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-dessert {
  margin-right: 80px;
}

/* All */
.appetizer-header,
.tacos-header,
.desserts-header,
.beverages-header {
  font-size: 3vh;
  text-decoration: underline;
  text-align: center;
}

.tacos-header,
.desserts-header,
.beverages-header {
  margin-top: 75px;
}

.food,
.entree-food,
.description,
.alc,
.bev {
  text-align: left;
}

.price {
  text-align: right;
}

/* CONTACT SECTION */

#contact-container {
  display: flex;
  flex-direction: column;
  font-family: "Shadows Into Light", cursive;
  margin-bottom: 100px;
}

.contact-header {
  text-align: center;
  font-size: 10vh;
  margin-bottom: 15px;
}

#contact-container p {
  font-size: 4vh;
  text-align: center;
  padding: 50px;
}

#contact-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-container input {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#contact-container #message {
  /* height: 200px; */
  width: 500px;
  padding-bottom: 45px;
}

/* #contact-container ::placeholder {
  vertical-align: text-top;
} */

/* Media Queries  */

@media only screen and (min-width: 600px) {
  .top-left-first {
    /* position: absolute;
      top: 8px;
      left: 16px; */
    font-size: 110px;
  }

  .top-left-second {
    /* position: absolute;
      top: 120px;
      left: 16px; */
    font-size: 110px;
  }

  .bottom-left {
    color: white;
    position: absolute;
    left: 16px;
    top: 350px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .top-left-first {
    /* position: absolute;
      top: 8px;
      left: 16px; */
    font-size: 80px;
  }

  .top-left-second {
    /* position: absolute;
      top: 120px;
      left: 16px; */
    font-size: 80px;
  }

  .bottom-left {
    /* position: absolute;
    left: 16px; */
    top: 250px;
    font-size: 15px;
  }
}

/* Footer */
footer {
  display: flex;
  font-family: "Lato";
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #b94335;
  padding: 10px;
  text-align: center;
}

footer li {
  display: flex;
  flex-direction: row;
}

footer ul {
  padding-left: 0;
  list-style: none;
}

footer .social-accounts,
footer .site-nav-menu {
  display: flex;
  justify-content: center;
  margin: auto;
}

footer .social-accounts {
  margin-left: 1px;
}
footer .site-nav-menu {
  margin-right: 10px;
}

footer a {
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}
